.splache
asm/
assets/
build/
config/*/undefined_funcs_auto.txt
config/*/undefined_syms_auto.txt
build.ninja
stdump*
MAIN.ELF*
.ninja_log
permuter_settings.toml
.cache
.clangd
compile_commands.json
objdiff.json